extends _layout
block style
  link(rel="stylesheet", href="./a.scss")
block content
  section.orange
    .orange-text
      h2
      | 甘い香りの
      br
      | オレンジピールクッキー
      p オレンジピールのちょっとほろ苦い甘さと香りが美味しさを引き立ててくれる、やめられなくなるクッキーです。

    figure.orange-photo
      img(src="img/orange.jpg", alt="")

    .orange-sub
      img(src="img/bottle.jpg", alt="")
      p かわいい小瓶に入ったパッケージはテーブルに置いておくだけでも絵になります。甘いものが苦手な人にもおすすめです。
